<a href="https://colab.research.google.com/github/tohooni/Python/blob/master/python_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 10
def func(b):
  c = a + b
  return c
print(func(10))

20

In [7]:
# _*_ coding: utf-8 _*_
print("\"안녕\" 파이썬")

"안녕" 파이썬

In [0]:
a = "HELLO WORLD"

In [12]:
print(a[0:7:2])

HLOW

In [15]:
a.replace("HELLO","HI")

'HI WORLD'

In [16]:
a.count('L')

3

In [17]:
a.find('E')

1

In [18]:
a.strip("WORLD")

'HELLO '

In [21]:
a.zfill(20)

'000000000HELLO WORLD'

In [0]:
a = 10
b = 3

In [29]:
print(b ** 2)

9

In [33]:
#외부 입력값 받기
a = input().split(' ')
x = int(a[0])
y = int(a[1])
print("x + y =", x + y)
print("x * y =", x * y)
print("x - y =", x - y)
print("x / y =", x / y)

3 7
x + y = 10
x * y = 21
x - y = -4
x / y = 0.42857142857142855

In [59]:
#List 강좌
#비슷한 성질을 가진 객체의 나열
a = [3.5, 4.3, 2.3, 3.8, 3.2, 4.5]

print(a)
print(a[1])
print(a[1:3])
print(a[:-1])
print(a[2:-1])

sum = 0
for i in a:
  sum = sum + i
print('평균 : ', sum / len(a))

#2차원 배열
b = [
     [90,95,83,40,30,20,19,48,39,59]
     ,[48,53,64,76,58,34,55,85,96,85]
    ]

sum = 0
english = b[0]
for i in english:
  sum = sum + i
print("영어 평균 점수 : ", sum / len(english))

sum = 0
math = b[1]
for j in math:
  sum = sum + j
print("수학 평균 점수 : ", sum / len(math))

[3.5, 4.3, 2.3, 3.8, 3.2, 4.5]
4.3
[4.3, 2.3]
[3.5, 4.3, 2.3, 3.8, 3.2]
[2.3, 3.8, 3.2]
평균 :  3.5999999999999996
영어 평균 점수 :  52.3
수학 평균 점수 :  65.4

In [60]:
#조건문

list = [1,2,3]
if 2 in list:
  print("2가 포함됨.")

2가 포함됨.

In [69]:
#튜플
#한번 입력된 값을 변경되지 않는다.
tuple =(1,2,3)

print(tuple)
print(tuple[1])
for i in tuple:
  print(i)

list1 = [1,2,3]
list2 = [3,4,5]
tuple = (list1, list2)
print(tuple)
print(tuple[0])
print(tuple[0][1])
print(tuple[0][:-1])

(1, 2, 3)
2
1
2
3
([1, 2, 3], [3, 4, 5])
[1, 2, 3]
2
[1, 2]

In [76]:
#함수
def add(a, b):
  print(a + b)
add(1,2)

def mul(a,b):
  return a * b
print(mul(3,4))

#가변 인자 사용법
def vari(*data):
  print(data)
vari(1,2,3,4,5)

3
12
(1, 2, 3, 4, 5)

In [78]:
#모듈 작성하기
#해당 파일을 저장하고 추후에 불러와서 사용한다.
#파일명 lib.py
def add(a, b):
  return a + b
def substract(a, b):
  return a - b

#라이브러리 불러올때
import lib as lib
print(add(1,2))

6561.0
8.0
24

In [89]:
#클래스 작성하기
#클래스는 맴버와 함수로 구성됨.

class Car:

  #클래스는 생성자를 가진다.
  def __init__(self, name, color):
    self.name  = name  # 클래스의 멤버
    self.color = color #클래스의 멤버

  def show_info(self):
    print("이름 : ", self.name, "/ 색상 : ", self.color)

car1 = Car("소나타", "빨간색")
car1.show_info()     

car2 = Car("아반떼", "노란색")
car2.show_info()
print(car2.name)

#메모리상에서 인스턴스가 할당 해제됨.
del car1

이름 :  소나타 / 색상 :  빨간색
이름 :  아반떼 / 색상 :  노란색
아반떼

In [93]:
#클래스 상속
class Unit:
  def __init__(self, name, power):
    self.name = name
    self.power = power

  def attack(self):
    print(self.name, "이 공격을 수행합니다. [전투력 : ", self.power,"]")  

class Monster(Unit): #Unit클래스를 상속 받는다.

  def __init__(self, name, power, type):
    self.name  = name
    self.power = power
    self.type  = type


monster = Monster("홍길동", 10, "초급")     
monster.attack() #상속받은 Unit클래스의 attack메서드를 사용함.

홍길동 이 공격을 수행합니다. [전투력 :  10 ]

In [18]:
#사전 자료형
dict = {}
dict['안녕'] = 'Hello'
dict['기적'] = 'Miracle'
dict['노력'] = 'effort'
dict['안녕'] = "Hi"
print(dict)

for i,k in enumerate(dict):
  print("[인덱스:", i ,"] 한글:", k, "/ 영어:", dict[k])

#특정값 삭제
# del dict['기적']
# print(dict) 

#항목 모두삭제
#dict.clear()
#print(dict)

#키 목록 추출
keys = dict.keys()
print("키 리스트 : ", keys)

key_list = list(keys)
print("키 리스트 : ", key_list)

values = dict.values()
print("값 리스트 : ", values)

for i in dict:
  print("추출 : ", i)

#정렬하여하기
print(sorted(dict))
print(sorted(dict, reverse=True))
print(sorted(dict.values()))

{'안녕': 'Hi', '기적': 'Miracle', '노력': 'effort'}
[인덱스: 0 ] 한글: 안녕 / 영어: Hi
[인덱스: 1 ] 한글: 기적 / 영어: Miracle
[인덱스: 2 ] 한글: 노력 / 영어: effort
키 리스트 :  dict_keys(['안녕', '기적', '노력'])
키 리스트 :  ['안녕', '기적', '노력']
값 리스트 :  dict_values(['Hi', 'Miracle', 'effort'])
추출 :  안녕
추출 :  기적
추출 :  노력
['기적', '노력', '안녕']
['안녕', '노력', '기적']
['Hi', 'Miracle', 'effort']

In [24]:
#내장 함수
#input() : 사용자로부터 콘솔로 입력을 받는 함수
#int() :정수 자료형으로 변환
#float : 문자열, 정수 등의 자료형을 실수형으로 변환
#max(), min() : 시퀀스 자료형에 포함되어 있는 원소 중 최대값 혹은 최소값
#bin(), hex() : 10진수 -> 2진수 변환, 10진수 -> 16진수 변환

user_input = input('정수를 입력하세요 : ')
print('제곱 : ', int(user_input) ** 2)
a = "12345"
b = 12.5
print(a, b)
print(int(a), int(b))

#16진수를 다시 10진수로 변환
print(int('0xe6', 16))

#round함수
print(round(123.789, 2))

정수를 입력하세요 : 4
제곱 :  16
12345 12.5
12345 12
230
123.79

In [70]:
# 문자열 자료형 뒤집기 : 슬라이싱 활용
# len() : 문자열의 길이를 출력
# isalpha() : 특정한 문자열의 문자로만 이루어져 있는지 확인
# isdigit() : 특정한 문자열이 숫자로만 이루어져 있는지
# isalnum() : 특정한 문자열이 문자와 숫자로만 이루어져 있는지 확인.
# join(리스트자료형) : 여러개의 문자열을 구분자와 함께 합치는 함수.
# sorted(문자열 자료형) : 각 문자를 정렬하는 함수.
# split(토큰) : 문자열을 토큰에 따라서 분리하는 함수
# find(문자) : 포함된 문자열 찾기
# strip() : 좌우로 특정한 문자열을 제거하는 함수.
#eval() : 문자열 수식 계산해주는 함수.

str = "홍길동2"
print(str.isalpha())

str = "123435"
print(str.isdigit())

str = "abc 123"
print(str.isalnum())

str = ['hello', 'World',' 홍길동']
print(' '.join(str))

str = "I love you"
list1 = str.split(' ')
print(list1)

str = "   Hello World  "
print(str.strip())
print(str.lstrip())

str = "(203+705)*3-(30/6)"
print(eval(str))

False
True
False
hello World  홍길동
['I', 'love', 'you']
Hello World
Hello World
2719.0

In [69]:
#index(원소) : 리스트 내 특정한 원소의 인덱스를 찾기
# revers() : 리스트의 원소를 뒤집기
# sum(리스트 자료형) : 리스트의 모든 원소의 합
# range() : 특정 범위를 지정
# all() / any() : 리스트의 모든 원소가 참인지/ 하나라도 참인지 판별

list1 = ['나동빈', '강종구','이태일','박한울','이상욱']
print(list1.index('이태일'))

list1 = [1,2,3]
list1.reverse()
print(list1)
print(sum(list1))

str = [True, False, False]
print(all(str))
print(any(str))

2
[3, 2, 1]
6
False
True

In [64]:
#예외 처리

try:
  print(3/2)
except:
  print("0 으로 나눌수 없습니다.")
else:
  print('정상')
finally:
  print("예외 처리 완료")


try:
  print(3/0)
except Exception as e:
  print(e)
finally:
  print("예외 처리 완료")

1.5
정상
예외 처리 완료
division by zero
예외 처리 완료

In [1]:
#람다식 : 함수의 형태를 더욱 짦게 쓸 수 있도록 해주는 문법
add = lambda x, y : x + y
print(add(1,2))

# map() : 다수의 원소에 대한 함수의 결과를 한번에 얻을 수 있도록 도와줌.
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
my_function = lambda a, b : a+b
result = map(my_function, list1, list2)
print(list(result))

3
[7, 9, 11, 13, 15]

In [23]:
#파일 입출력
# open() : 파일을 특정한 모드로 여는 함수 읽을때 r, 쓸때 w
# read() : 파일 객체로부터 모든 내용을 읽는 함수 입니다.
# readline() : 파일 개체로부터 한 줄씩 문자열을 읽는 함수 입니다.
# readlines() : 전체 내용을 한 번에 리스트 담는 함수 입니다.

f = open("input.txt", "r", encoding="UTF-8")
data = f.read()
print(data)

#
f.seek(9)
data = f.read()

#한줄씩 읽어들이기
count = 0
while count < 3:
  data = f.readline()
  count = count + 1
  print("%d번째 줄 : %s" %(count, data), end='')

#전체를 읽어 와서 리스트에 담아서 처리하는 방식
list1 = f.readlines()
for i, data in enumerate(list1):
  print("%d번째 줄 :%s" %(i + 1, data), end='')

f.close()

FileNotFoundError: ignored

In [3]:
!pwd

/content

In [27]:
!ls -al

total 12
drwxr-xr-x 3 root root 4096 Jan 16 11:00 .
drwxr-xr-x 1 root root 4096 Jan 16 11:00 ..
drwxr-xr-x 2 root root 4096 Jan 16 11:00 input2.txt

In [6]:
!cd smaple_data

/bin/bash: line 0: cd: smaple_data: No such file or directory

In [7]:
!vi input.txt

/bin/bash: vi: command not found

In [0]:
!cd ../